.index{
  background: linear-gradient(20deg,#daa357,rgb(219,112,147));
  border: 20px #232625 solid;
  padding: 2%;
}

.markdown-body hr{
  height: 1px;
}

.index .markdown-body {
  border-bottom: none !important;
}

/** HERO **/

.markdown-body .hero {
  min-height: 60vh;
  widows: 100%;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
  text-align: center;
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
}

.markdown-body .hero code {
  background: rgba(0, 0, 0, .3);
}

.markdown-body .hero p {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 2px;
}

.markdown-body .hero a {
  text-decoration: underline;
  color: white;
}

.hero .hello {
  padding: 2rem 0 3.5rem 0;
}

.hero h1, .hero h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.markdown-body .hero code {
  background-color: black;
}

.hero h1 {
  border: none;
  margin-bottom: .5rem;
}

.hero h4 {
  font-weight: 100;
}

.hero .logo {
  border: none;
  font-size: 7.9rem !important;
}

.hero .button-group {
  text-align: center;
  display: block;
  padding: 2rem 0;
}


.hero a.button {
  border: solid 1px white;
  padding: 0.5rem 1rem;
  min-width: 8rem;
  display: inline-block;
  border-radius: 2px;
  margin: 0 0.5rem 1rem;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.25s;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  text-shadow: none;
}

.hero a.button.-wide {
  min-width: 17rem;
}

.hero a.button:hover {
  background: white;
  color: palevioletred;
}

.branding-footer {
  padding: 2rem;
  text-align: center;
}

.branding-footer .avatar {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
}

.branding-footer .avatar img {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

span {
  color: #333 !important;

}

/* Override storybook-chapers inline styles */

.markdown-body > div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -webkit-text-size-adjust: 100% !important;
  line-height: 1.5 !important;
  color: #333 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  word-wrap: break-word !important;
}

.markdown-body span {
  font-size: 16px !important;
  margin-bottom: 20px !important;
  margin-top: 0px !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-transform: none !important;

  margin-top: 24px !important;
  margin-bottom: 16px !important;
  font-weight: 600 !important;
  line-height: 1.25 !important;
}

margin-top: 24px;
margin-bottom: 16px;

.markdown-body h1 {
  font-size: 32px !important;
  font-weight: 600 !important;
}

.markdown-body h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
}

.markdown-body h3 {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.markdown-body h4 {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.markdown-body h5 {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.markdown-body h6 {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.markdown-body p {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.markdown-body > div > div > div {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 5rem !important;
  /* padding-top: 1rem !important; */
  border-bottom: 1px solid #eee;
}

/* .markdown-body > div > div:first-child > div{
  background: red;
} */
